<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Summarizer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  </head>
  <body>
    <style>
      .button {
        font-size: 24px;
      }
      #streamingOutput {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        min-height: 50px;
        white-space: pre-wrap;
      }
      .hidden {
        display: none;
      }
      textarea {
        width: 100%;
        height: 50vh;
      }

      * {
        box-sizing: border-box;
      }
    </style>
    <h1>summa - text summarizer</h1>
    <textarea
      id="textInput"
      rows="10"
      cols="50"
      placeholder="Enter the text to summarize"
    >
    Friedrich Wilhelm Nietzsche[ii] (15 October 1844 – 25 August 1900) was a German classical scholar, philosopher, and critic of culture, who became one of the most influential of all modern thinkers.[14] He began his career as a classical philologist before turning to philosophy. He became the youngest person to hold the Chair of Classical Philology at the University of Basel in Switzerland in 1869, at the age of 24, but resigned in 1879 due to health problems that plagued him most of his life; he completed much of his core writing in the following decade. In 1889, at age 44, he suffered a collapse and afterward a complete loss of his mental faculties, with paralysis and probably vascular dementia. He lived his remaining years in the care of his mother until her death in 1897, and then with his sister Elisabeth Förster-Nietzsche. Nietzsche died in 1900, after experiencing pneumonia and multiple strokes.
    </textarea>
    <br />
    <br />
    <button class="button" onclick="sendSummarizeRequest()">Summarize</button>
    <h2 id="whatsGoingOnPlace"></h2>
    <div id="streamingOutput"></div>
    <div id="summaryOutput"></div>

    <script>
      const tasksTodo = new Set();
      const socket = io();
      let inProgress = false;
      let currentStreamingText = "";
      let lasDoneTaskIndex = 0;

      socket.on("connect", () => {
        console.log("Connected to WebSocket");
      });

      socket.on("disconnect", () => {
        console.log("Disconnected from WebSocket");
      });

      socket.on("llama_started", (data) => {
        inProgress = true;
        const streamingOutput = document.getElementById("streamingOutput");
        currentStreamingText = ''
        streamingOutput.textContent = currentStreamingText;
        renderWhatsGoingOn("Summarization started");
      });

      socket.on("llama_output", (data) => {
        const streamingOutput = document.getElementById("streamingOutput");
        currentStreamingText += data.data;
        streamingOutput.textContent = currentStreamingText;
      });

      socket.on("llama_complete", (data) => {
        inProgress = false;
        console.log("[SOCKET] Received completion event:", data);

        const streamingOutput = document.getElementById("streamingOutput");
        streamingOutput.style.borderColor = "#4CAF50";

        if (window.loaderDotsInterval) {
          clearInterval(window.loaderDotsInterval);
        }
      });

      socket.on('done_task_index', (data) => {
        tasksTodo.delete(data.task_index);
        renderStateOfTheQueue({index: data.task_index, type: 'done'});
      });

      function renderStateOfTheQueue({index, type}) {
        if (type === 'done') {
          lasDoneTaskIndex = index;
        }


        const sortedTasks = Array.from(tasksTodo).sort((a,b)=> a-b);
        const firstTaskIndex = sortedTasks[0];

        console.log('queue in this client:', sortedTasks)
        console.log(`${type} index:`, index)

        if (inProgress) {
          return
        }

        if (sortedTasks.length === 0) {
          renderWhatsGoingOn(`All tasks are done`);
          return
        }
        
        const diff = firstTaskIndex - index - 1;
        const taskIndex = diff > 0 ? diff : 1;

        if (type === 'add') {
          renderWhatsGoingOn(`Task added to queue`);
          return
        }

        renderWhatsGoingOn(`Index in queue is ${taskIndex}, tasks remaining: ${sortedTasks.length}`);
      }

      const placeToRenderWhatsGoingOn =
        document.getElementById("whatsGoingOnPlace");
      function renderWhatsGoingOn(thingToRender) {
        placeToRenderWhatsGoingOn.innerHTML = thingToRender;
      }

      function renderToSummary(text) {
        document.getElementById("summaryOutput").textContent = text;
      }

      async function sendSummarizeRequest() {
        const textToSummarize = document.getElementById("textInput").value;
        const wordLimit = 5;

        if (!textToSummarize) {
          alert("Please enter text to summarize");
          return;
        }

        let loaderDotsInterval;
        try {
          // let loaderDots = "...";
          // loaderDotsInterval = setInterval(() => {
          //   if (loaderDots === "...") {
          //     loaderDots = ".";
          //   } else if (loaderDots === ".") {
          //     loaderDots = "..";
          //   } else {
          //     loaderDots = "...";
          //   }
          //   renderToSummary("");
          //   renderWhatsGoingOn(
          //     "Asked summa to do work, lets wait a little" + loaderDots
          //   );
          // }, 300);

          const response = await fetch("http://127.0.0.1:5000/summarize", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "Access-Control-Allow-Origin": "*",
            },
            body: JSON.stringify({
              text: textToSummarize,
              word_limit: parseInt(wordLimit),
            }),
          });

          const result = await response.json();

          if (response.ok) {
            tasksTodo.add(result.task_index);
            renderStateOfTheQueue({index: result.task_index, type: 'add'});
          } else {
            renderWhatsGoingOn("Error happen, here its:");
            renderToSummary("Error: " + result.error);
          }
        } catch (error) {
          renderWhatsGoingOn("Error sending the request");
          console.error("Error sending the request:", error);
        } finally {
          clearInterval(loaderDotsInterval);
        }

        window.loaderDotsInterval = loaderDotsInterval;
      }
    </script>
  </body>
</html>
